body {
  max-width: 600px;
  margin: auto;
}

* {
  font-family: 'Courier Prime', monospace;
}

.word {
  display: flex;
}

.letter {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 81px;
  border: solid 1px;
  padding: 6px 0 0 1px;
  margin: 6px;
  font-size: 56px;
  font-weight: bold;
  box-sizing: border-box;
  text-transform: uppercase;
}

input.letter {
  padding: 6px 25px 0;
}

.press-enter-help-text {
  width: 120px;
  margin: 6px;
}